# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        aw-version: [0.11.0]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache activitywatch binaries
      uses: actions/cache@v2
      with:
        path: ./activitywatch
        key: ${{ runner.os }}-activitywatch-${{ matrix.aw-version }}
    - name: Install deps
      run: npm ci
    - name: Build
      run: make build
    - name: Download aw-server
      run: wget -nc --no-verbose https://github.com/ActivityWatch/activitywatch/releases/download/v${{ matrix.aw-version }}/activitywatch-v${{ matrix.aw-version }}-linux-x86_64.zip
    - name: Unzip aw-server
      run: unzip -o activitywatch-v${{ matrix.aw-version }}-linux-x86_64.zip
    - name: Run tests
      run: |
        export PATH=./activitywatch/aw-server:$PATH
        make test

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install deps
      run: npm ci
    - name: Build
      run: make build
    - name: Lint
      run: make lint
